# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List popular languages used in data science
- List commonly used libraries in data science
- List data science tools
- Demonstrate basic arithmetic with integers (by example)
- Demonstrate how to convert minutes to hours (by example)

Some of the popular languages that Data Scientists use are:

1.  Python
2.  R
3.  SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matloblib
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

A. Ryan Kutayiah